.content {
    .user-info {
        height: 24vw;
        background: #3190e8;
        display: flex;
        align-items: center;
        padding: 0 3.733vw;
        .user-icon {
            img {
                width: 15.625vw;
                border-radius: 50%;
            }
        }
        > div {
            &:last-child {
                flex: 1;
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-left: 2.933vw;
                color: #fff;
                h3 {
                    font-size: 4.8vw;
                    font-weight: bold;
                    margin-bottom: 2vw;
                }
                p {
                    display: flex;
                    align-items: center;
                    img {
                        width: 4.8vw;
                    }
                }
            }
        }
    }
    .integration {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 22.4vw;
        box-sizing: border-box;
        background: #fff;
        margin-bottom: 2.667vw;
        li {
            flex-basis: 33.33%;
            text-align: center;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            border-right: 1px solid #f1f1f1;
            &:last-child {
                border-right: none;
            }
            h3 {
                padding-bottom: 2.667vw;
                font-size: 7.467vw;
                font-weight: bold;
                span {
                    font-size: 3.733vw;
                    color: #333;
                }
            }
        }
    }
}
