.content {
    .am-list-extra {
        > div {
            position: relative;
            .user-icon {
                width: 15.625vw !important;
                height: auto;
                border-radius: 50%;
            }
            .file-input {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                opacity: 0;
            }
        }
    }
}
