.content {
    height: calc(100vh - 45px - 50px);
    overflow: auto;
    position: relative;
    .slider-list {
        height: 46.667vw !important;
    }
    .food-list {
        height: auto;
        display: flex;
        flex-wrap: wrap;
        .food-item {
            flex-basis: 25%;
            display: flex;
            flex-direction: column;
            margin: 1.867vw 0;
            align-items: center;
            img {
                width: 11.251vw;
                height: 11.251vw;
                display: block;
            }
        }
    }
    .shop {
        height: calc(100vh - 45px - 50px - 46.667vw);
        overflow: auto;
    }
}
.loader-box {
    height: calc(100vh - 45px - 50px);
    width: 100%;
    z-index: 111;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
}
